<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        /*background-color: blue;*/
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Por css reducir tamaño del placeholder <link href="my_style.css" rel="stylesheet" media="screen">-->
    <!-- Pone el fondo de color azul y el texto blanco centrado <div class="row p-3 mb-2 bg-info text-white text-center"/> -->
    <!-- Librería de iconos -->
    <!--link
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    rel="stylesheet"  type='text/css'
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    Mi hoja de estilos
    <link href="my_style.css" rel="stylesheet" media="screen">
  -->
    <div class="row"/>
      <h2 class="col-md-12 text-center">Login Usuario</h2>
    </div>

<!-- Centrar, no sé si se podrá hacer más sencillo-->
    <!--div class="row">
      <div class="col-md-5"></div>
      <input type="email" placeholder="Email" value="{{email::input}}">
      <div class="col-md-5"></div>
    </div-->

<!-- Incluir icono, parece que falta librería. Creo que con la de fa funciona-->
    <!--div class="input-group">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
    </div-->
    <!--div class="input-group">
      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
      <i class="fa fa-user fa-fw">User</i>
      </input>
    </div-->
<!--Incluir input con label y que se mueva el placeholder-->
  <!--form id="login">
    <ul>
      <li>
          <input id="email" name="email" placeholder="Your Email" title="Your Email" type="email" required />
          <label for="email">Your Email</label>
      </li>
    </ul>
  </form-->

    <input type="email" placeholder="Email" value="{{email::input}}">
    <input type="password" placeholder="Passsword" value="{{password::input}}">
    <button class="btn btn-info" on-click="loginUser">Login</button>
    <!-- salto de línea con separdor horizontal <hr/> -->
    <!-- salto de línea <br/> -->

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {

      static get is() { return 'login-usuario'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }

      loginUser() {
        console.log("El usuario ha pulsado el botón");

        var loginData= {
          "email": this.email,
          "pass": this.password
        }

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada")
      }

      manageAJAXResponse (data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
