<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="my_style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Centrar el texto -->
    <div class="row"/>
      <h2 class="col-md-12 text-center">Login Usuario</h2>
    </div>

    <!-- Centrar, no sé si se podrá hacer más sencillo-->
    <div class="row">
      <!--div class="col-md-5"></div-->
        <div class="mx-auto inputWithIco">
          <input class="form-control" type="email" placeholder="Email" value="{{email::input}}">
          <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
        </div>
      <!--div class="col-md-5"></div-->
    </div>

    <div class="row">
      <div class="col-md-5"></div>
        <div class="inputWithIcon">
          <input class="form-control" type="password" placeholder="Passsword" value="{{password::input}}">
          <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
        </div>
      <div class="col-md-5"></div>
    </div>

    <div class="row">
      <div class="col-md-6"></div>
      <button class="btn btn-info" on-click="loginUser1">Login</button>
      <div class="col-md-5"></div>
    </div>

    <span hidden$="{{!isLogged}}">Si esto sale nos podemos ir</span>
    <!--Hidden a true, se muestra. A false no se muestra-->

    <iron-ajax
      id="doLogin1"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario1 extends Polymer.Element {

      static get is() { return 'login-usuario1'; }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged:{
            type: Boolean,
            value:false
          }

        };
      }

      loginUser1() {
        console.log("El usuario ha pulsado el botón");

        var loginData= {
          "email": this.email,
          "pass": this.password
        }

        this.$.doLogin1.body = JSON.stringify(loginData);
        this.$.doLogin1.generateRequest();
        console.log("Petición enviada")
      }

      manageAJAXResponse(data){ //si hay error, va a showError y no va a manageAJAXReponse
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged=true;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

    }

    window.customElements.define(LoginUsuario1.is, LoginUsuario1);
  </script>
</dom-module>
