<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor Cuenta</h2>
      <h2 class="col-md-2">Soy {{user_id}} </h2>
      <h3 class="col-md-8">y tengo la cueta {{IBAN}} </h3>
      <h3 class="col-md-5"> con saldo {{balance}}</h3>
    </div>
    <!--button class="btn btn-success">Login</button-->
    <!--button class="btn btn-warning">Logout</button-->

    <!--input type="text" value="{{first_name::input}}"/-->
    <!--input type="range" min="18" value={{age::input}} max="70"/-->
    <iron-ajax
      auto=""
      id="getUserAccount"
      url="http://localhost:3000/apitechu/v2/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          user_id: {
             type: Number
          },
          IBAN: {
             type: String
          },
          balance: {
             type: Number
          }
        }
      }

      showData(data){
        console.log(data.detail.response);
        console.log("Recibidos datos de la cuenta del usuario");
        console.log(data.detail.response[0].user_id);
        console.log(data.detail.response[0].IBAN);
        console.log(data.detail.response[0].balance);

        this.user_id=data.detail.response[0].user_id;
        this.IBAN=data.detail.response[0].IBAN;
        this.balance=data.detail.response[0].balance;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
