/* Si es tipo email, le doy un margen para meter la imagen */
.inputWithIcon input[type=email]{
  padding-left:40px;
}
.inputWithIcon input[type=password]{
  padding-left:40px;
}

/* Posición de la imagen relativa a la caja input */
.inputWithIcon{
  position:relative;
}

/* Properties del icon para situarlo bien */
.inputWithIcon i{
  position:absolute;
  left:0;
  top:2px;
  padding:9px 8px;
  color:#091F92;
  transition:.3s;
}









/*:focus::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: 80%;
  /*transition: opacity 0.5s 0.5s ease;*/
  /*desaparece en trasición*/
  /*transition: opacity 0.5s 0.5s ease;*/
  /*otra opción color: transparent;*/
  /*transition-property: margin-right;*/
/*}*/

/* Configuración de la caja del input */
/*
input[type=email]{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}*/
/*
input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}
*/

/*
.inputWithIcon input[type=text]:focus + i{
  color:dodgerBlue;
}

.inputWithIcon.inputIconBg i{
  background-color:#aaa;
  color:#fff;
  padding:9px 4px;
  border-radius:4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type=text]:focus + i{
  color:#fff;
  background-color:dodgerBlue;
}
*/
/* Analizar que nos sirve y que no */
/*
#login{font-size: 12px; margin: 0 auto; width: 100%;}
#login li{float: left; list-style: none; margin-left: 0; position: relative;}
#login li:first-child{margin-left: 0;}

label{line-height: 40px; position: absolute; right: 120px; top: 0; bottom: 0;
    -moz-transition: 0.3s right ease;
    -ms-transition: 0.3s right ease;
    -o-transition: 0.3s right ease;
    -webkit-transition: 0.3s right ease;
    transition: 0.3s right ease;
 	z-index: 0}

input{color: transparent; font-size: 12px; height: 35px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;}

input[type="email"], input[type="password"]{border: 1px solid #ccc; height: 35px; padding: 0 10px; width: 240px; position: relative;
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.06);
	box-shadow: inset 0 0 10px rgba(0,0,0,.06);
	z-index: 2;}

input[type="email"]{color: rgba(47,130,194,.8);}


input:focus + label{right: 30px;}

input[type="email"]:focus, input[type="password"]:focus{background-color: rgba(255,255,255,.8);}
*/
/* Formato placeholder y label */
/* Placeholder */
/*input[type="email"]:-moz-placeholder{color: rgba(47,130,194,.6);}
input[type="email"]:-ms-input-placeholder{color: rgba(47,130,194,.6);}
input[type="email"]::-webkit-input-placeholder{color: rgba(47,130,194,.6);}*/
/* Label */
/*input[type="email"] + label{color: rgb(47,130,194);}*/
